<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Login</h1>
      <hr class="hr-login">
      <%= render '/users/error' %>
      <%= form_for @user, url: login_path, method: :post do |f| %>
        <h2 style="font-size:2em" class="text-white-50 mx-auto mt-2 mb-5">Username: <label class="tb"><%= f.text_field :usernamegit  %></label></h2>
        <h2 style="font-size:2em" class="text-white-50 mx-auto mt-2 mb-5">Password: <label class="tb"><%= f.password_field :password %></label></h2>
        <%= f.submit "log in" %>
      <% end %>
    </div>
  </div>
</header>
