<div class='show-page'>
    <h2><%= @author.name %></h2>

    <img height="300" width="300" src=<%= @author.picture %> alt=<%= @author.name%>>
    <br>
    <br>
    <p>Profile: <%= @author.profile %></p>
    <br>
    Books Written:
    <% if @author.books %>
        <% @author.books.each do |book|  %>
            <p><%= link_to book.title, book_path(book) %></p>
        <%end  %>
    <% end %>

    <p><%= button_to 'All Authors', authors_path, method: :get %> <%= button_to "Edit", edit_author_path(@author), method: :get %></p>
</div>