<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">

        <h1 class="mx-auto my-0 text-uppercase">Sign Up</h1>
        <hr class="hr-login">
        <%= render 'error' %>
        <%= form_for @user do |f| %>
            <h2 style="font-size:2em" class="text-white-50 mx-auto mt-2 mb-5">Username: <label class="tb"> <%= f.text_field :username %></h2> </label>
            <h2 style="font-size:2em" class="text-white-50 mx-auto mt-2 mb-5">Password: <label class="tb"> <%= f.password_field :password %></h2> </label>
            <h2 style="font-size:2em" class="text-white-50 mx-auto mt-2 mb-5">Confirm Password: <label class="tb"> <%= f.password_field :password_confirmation %></h2> </label>
            <p><%= f.submit "Create Account" %></p>

        <% end  %>

      </div>
    </div>
  </header>